.offers{
  background-color: blanchedalmond;
width: 80%;
height: 50vh;
display: flex;
margin: auto;
justify-content: space-evenly;
position: relative;
margin-top: 50px;
margin-bottom: 60px;
}

.offers-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:20px ;


}
.offers-span{
    color: rgb(217, 11, 11);
}
.offers-left h2{
    font-size: 45px;
    font-weight: 650;
}
.offers-left button{
    background-color: rgba(255, 9, 5, 0.908);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 7px;
}
