.related{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,auto));
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
}
.relatedmain h2{
    text-align:center;

}
hr{
    background-color: rgb(138, 11, 125);
}