.footer{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.footer .footer-logo{
    display: flex;
    font-size: 30px;
    margin-bottom: 30px;
}
.footer .footer-logo p{
    display: flex;
    align-items: center;
    padding: 8px;
    margin-top: auto;
}
.footer .footer-links{
    list-style: none;
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
}
.footer .footer-social-icons{
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
}
.footer hr{
    background-color: grey;
    height: 2px;
    width: auto ;
}

.footer .footer-copyright{
    text-align: center;
}
